-# Notification pour le bureau de l'administrateur
-#
- aw = action_watcher
-# Mettre ici le code qui devra apparaitre sur le bureau, soit une simple
-# information soit un formulaire permettant de jouer l'action-watcher.
-# Voir le détail dans le fichier d'aide Scrivener
= "Paiement de #{user.name} (##{user.id}) attendu pour le #{triggered_at + 4.days}. Montant : #{objet.montant} €."
