-# Notification pour le bureau de l'user/icarien
-#
- aw = action_watcher
- absmodule = aw.objet.abs_module
-# NOTE : contrairement aux watchers habituels, noter que celui-ci appelle
-# un contrôleur (Paiement#proc), il ne joue pas le watcher
%h3
  = "Paiement du module “#{absmodule.name}” (%i €)" % absmodule.tarif
= form_for('paiement', url: paiement_path, method: :get) do |f|
  = hidden_field_tag('wid', aw.id)
  .center.vair
    = f.submit('Payer le module…', class: 'btn btn-primary btn-lg')
