<%
# Partiel pour afficher les modules sous forme de liste

def bouton_postulation(amod = nil)
  @absmod = amod unless amod.nil?
  # buttons = Array.new
  # buttons << content_tag(:a, 'Postuler à ce module', href: abs_modules_path(@absmod), class: 'btn btn-primary')
  # if current_user.admin?
  #   buttons << content_tag(:a, 'voir', href: abs_module_path(@absmod))
  # end
  # div = content_tag(:div, buttons.join, class: 'col right')
  # content_tag(:div, div, class: 'row vair')

  content_tag(:div, class: 'row vair') do
    content_tag(:div, class: 'col right') do
      if current_user && current_user.admin?
        link_to('voir', abs_module_path(@absmod))
      else
        link_to('Postuler à ce module', abs_modules_path(@absmod))
      end
    end
  end
end
%>
<div class="container">
  <h3>Module « <%= abs_module.name %> »</h3>
  <%= bouton_postulation(abs_module) %>

  <h4>En résumé</h4>
  <div class="row">
    <div class="col col-md-7 col-md-offset-1 justify">
      <%= raw abs_module.short_description %>
    </div>
  </div>

  <%= bouton_postulation %>

  <h4>Plus en détail</h4>
  <div class="row">
    <div class="col col-md-7 col-md-offset-1 justify">
      <%= raw abs_module.long_description %>
    </div>
  </div>

  <%= bouton_postulation %>
</div>
