-# Notification pour le bureau de l'administrateur
-#
- aw = action_watcher
-# Mettre ici le code qui devra apparaitre sur le bureau, soit une simple
-# information soit un formulaire permettant de jouer l'action-watcher.
-# Voir le détail dans le fichier d'aide Scrivener
= "Attente du travail de #{aw.user.name} (##{aw.user.id}) sur son module “#{aw.objet.ic_module.abs_module.name}” (##{aw.objet.ic_module.id})."
