-# Notification pour le bureau de l'administrateur
- aw = action_watcher
- modules_optionnes = aw.data.to_s.split(':')
- puts modules_optionnes.inspect
%h4.font-weight-bold
  = "Candidature de #{aw.objet.name}."
= form_for('validation_candidature', url: awrun_path(aw)) do
  = select_tag(:module_id, options_from_collection_for_select(AbsModule.all, :id, :name, modules_optionnes), multiple: true, size: 10)
  .right
    .fleft= link_to "Refuser la candidature", '#', onclick:"$('div#refus_candidature_#{aw.id}').show();return false;"
    = submit_tag 'Valider', class: 'btn btn-primary btn-small'
= form_for('refus_candidature', url: awrun_path(aw)) do
  %div{id: "refus_candidature_#{aw.id}", style:'display:none;'}
    = label_tag :motif_refus, 'Motif du refus (HTML) :'
    = text_area_tag(:motif_refus, "<p>\n  MOTIF\n</p>", {rows: 8})
    .right
      = submit_tag 'Refuser la candidature', class: 'btn btn-primary btn-small'
