<li class="row mb-3">
  <%= gravatar_for(user, size: 40) %>
  <%= link_to user.name, user_path(user) %> (né en <%= user.birthyear %>)
  <% if real_user? %>

  <% end %>

  <%# Ici une boite de boutons qui dépendent du visiteur %>
  <% if current_user.admin? && !user.admin? %>
    <%= link_to 'détruire', user, method: :delete, data: {confirm: 'Êtes-vous certain de vouloir détruire %s' % user.name}%>
  <% end %>
  <%# /current_user.admin? %>


  <% if real_user? %>
    <div class="row">
      Inscription : <%= user.created_at %>
    </div>
    <div class="row">
      Statut : <%= user.statut %>
    </div>
  <% end %>
</li>
