<%
#
# Mail envoyé à l'ADMIN À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = "Démarrage de module d'apprentissage"
%>

<div>
  Phil, je t'annonce le démarrage d'un module d'apprentissage.
</div>
<pre>
  INFORMATION SUR LE MODULE :
  -------------------------
  Propriétaire : <%= user.name %> (#<%= user.id %>)
          mail : <%= user.email %>
        Module : <%= objet.abs_module.name %> (#<%= objet.abs_module.id %>)
   IcModule ID : #<%= objet.id %>
  ========================================================================
</pre>
