-# Formulaire pour afficher et redéfinir l'échéance de travail
-# ic_etape est fourni en argument
.row
  = form_for(ic_etape, url: ic_etape_echeance_path(ic_etape), method: :post) do |f|
    = f.hidden_field(:id)
    %label.col-md-4
      = I18n.t('icmodule.etape.echeance.change.Label')
    .col-md-8
      = human_date_select(id: 'new_echeance', from: Time.now, for: 60, class: 'inline')
      = f.submit('Modifier', class: 'btn btn-x-small')
