-# Notification pour le bureau de l'administrateur
-#
- aw = action_watcher
-# Ici un formulaire permettant de déposer le document. Avec un champ pour
-# l'original à tous les coups, et un champ pour le commentaire s'il y en a
- icdocument = aw.objet
%h4 "Dépôt documents sur QDD"
= form_for('qdd', url: aw.form_url, method: :post, multipart: true) do |f|
  %span.small.italic{style: 'margin-bottom:1rem;'}
    = " (#{designation_for(icdocument, with_user: true)})"
  = f.label(:original, 'Document original “%s“ en PDF' % [icdocument.original_name])
  = f.file_field(:original, class: 'vair')
  .small.italic
    - if icdocument.commented?
      Noter que le document commentaire en PDF existe déjà et n'a donc pas besoin d’être fourni.
    - else
      Pas de document commentaire pour ce travail.
  .right.vair
    = f.submit('Déposer sur le QDD', class: 'btn btn-primary btn-small')
