-# Template pour afficher un module d'apprentissage d'icarien
-# Noter que c'est l'affichage qui sert aussi bien dans le bureau de
-# l'icarien (home) que pour un affichage isolé du module.
- vu_par_owner = current_user == ic_module.user
%li.list-group-item
  %h4#module-designation
    %span.glyphicon.glyphicon-inbox.btn-md{'aria-hidden' => 'true', style:'color:#578088;'}
    = "Module « #{ic_module.abs_module.name} » "
    %small
      = "(##{ic_module.id})"

  - if !vu_par_owner
    .module-owner.row
      %label.col-md-4
        = I18n.t('icmodule.owner.Label')
      .value.col-md-8
        = ic_module.user.name

  -# Je ré-essaye la mise en page ici
  .module-information
    .row
      %label.col-md-4
        = I18n.t('time.Started_at')
      .value.col-md-8
        = human_start_for(ic_module)
    - if ic_module.ended?
      .row
        %label.col-md-4
          = I18n.t('time.Ended_at')
        .value.col-md-8
          = designation_for(ic_module.ended_at)

  - if ic_module.current? && ic_module.current_etape

    -# === ÉTAPE COURANTE DU MODULE (IF ANY) ===

    .row
      %label.col-md-4
        = I18n.t('icmodule.current_etape.Label')
      .value.col-md-8
        = numero_et_titre_for(ic_module.current_etape)
    - if vu_par_owner
      .row
        %label.col-md-4
          = I18n.t('icmodule.etape.work.expected_at.Label')
        .value.col-md-8
          = human_expected_work_at_for(ic_module.current_etape)
      -# Formulaire pour modifier l'échéance de l'étape courante
      = render 'ic_etapes/form_echeance', ic_etape: ic_module.current_etape
