-# Template pour afficher un module d'apprentissage d'icarien
%li.list-group-item
  %h4#module-designation
    %span.glyphicon.glyphicon-inbox.btn-md{'aria-hidden' => 'true', style:'color:#578088;'}
    = "Module « #{ic_module.abs_module.name} » "
    %small
      = "(##{ic_module.id})"
  - if current_user != ic_module.user
    #module-owner
      = myLabel('module.owner.label', suffix: ' : ', cap: true)
      = ic_module.user.name
  #module-informations
    .col.col-xs-offset-1{class: ('col-xs-5' if ic_module.ended?)}
      = myLabel('time.started_at', suffix: ' : ', cap: true)
      = ic_module.started? ? ic_module.started_at : I18n.t('module.status.waiting_for_start')
    - if ic_module.ended?
      .col.col-xs-offset-8.col-xs-6
        = myLabel('time.ended_at', suffix: ' : ', cap: true)
        = ic_module.ended_at
  -# === ÉTAPE COURANTE DU MODULE (IF ANY) ===
  #module-etape.col-xs-offset-1
    = myLabel('module.current_etape.label', suffix: ' : ', cap: true)
    = ic_module.current? ? "<strong class='x-large'>#{ic_module.current_etape.numero} #{ic_module.current_etape.titre}</strong>".html_safe : I18n.t('module.status.waiting_for_start')
-# TODO Plus tard, ici, la liste des étapes du module.
-# TODO Plus tard, ici, la liste des documents du module (ou avec étapes ?)
