<header class="navbar container-fluid">
  <nav id="toprow" class="navbar">
    <% link_text = 'Atelier Icare' %>
    <%= link_to link_text, home_path, id: 'logo', class: 'navbar-brand' %>
    <nav>

      <ul class="nav navbar navbar-right collapse navbar-collapse">
        <li><%= link_to 'Accueil', home_path, class: 'nav-item' %></li>
        <li><%= link_to 'À propos', about_path, class: 'nav-item' %></li>
        <li><%= link_to 'Aide', help_path, class: 'nav-item' %></li>
        <li><%= link_to 'Contact', contact_path, class: 'nav-item' %></li>
        <% if current_user? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= raw user_pseudo(current_user, avatar: true, size: :small) %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Bureau', bureau_path %></li>
              <li><%= link_to 'Profil', profil_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Déconnexion', logout_path, class: 'nav-item' %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to 'Connexion', login_path, class: 'nav-item signin-button' %>
          </li>
        <% end %>
      </ul>

    </nav>
  </nav>
</header>
<%
# Tant que l'user n'est pas identifié ou inscrit, on présente le bouton
# pour s'inscrire à l'atelier
%>
<div class="container" style="margin-bottom:2rem;">
  <div class="row">

    <div class="col-md-8 left">
      <h2><%= yield(:titre_page) %></h2>
    </div>

    <div class="col-md-4 right">
      <% unless current_user? || signup_route? %>
        <%= link_to 'Poser sa candidature', signup_path, class: 'btn btn-primary' %>
      <% end %>
    </div>


  </div>
</div>
