<!DOCTYPE html>
<html>
  <head>
    <title>Atelier Icare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div id="bande-logo" class="container">
        ATELIER ICARE
      </div>
    </div>
    <%= yield %>
  </body>
</html>
